<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<form action="success">
	<h3>
		Student name <input type="text" name="name"><br>
		 Roll no   <input type="text" name="sno"><br>
		 Standard   <input type="text" name="std"><br>
		 Section   <input type="text" name="sec"><br>
        School  <input type="text" name="school"><br>
		<input type="submit" name= register onclick=func() >

		<!--<input type="reset" value="reset">-->
	</h3>
</form>


<script>

function func() {
	
	alert("Successfully Registered");
}
</script>

</body>
</html>